  @charset "uft-8";

/*
	Created by: Liz Bequette
	Basic page layout.
	
	background image from: Pixabay.com
*/

/* Polaroid Image Style */

div.polaroid {
   width: 65%;
   background-color: white;
   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
   float: left;
   padding: 5px;
   position: relative;
   margin: 10px;
   display: block;
   margin-left: auto;
   margin-right: auto;
}

aside img {width: 100%}

div.container {
  text-align: center;
  padding: 10px 20px;
}